:root{
     --primary-color: #EE4D3D; 
     /* --primary-color:linear-gradient(129.1deg,rgba(243,199,83,1) 26.8%, rgba(18,235,207,1) 114.1%); */
    
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --boder-color: #dbdbdb;
    --gold-color: #FECE3E;

    --navbar-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}
a{
    text-decoration: none;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* Responsive */

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full--width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

/*Animation*/
@keyframes fedeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}

.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}
/*button style*/
.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    align-items: center;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
    background-color: var(--white-color);
}
.btn--size-s{
    height: 32px;
    font-size: 12px;
    padding: 0 8px;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.05);
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.btn.btn--disabled{
    color: #949494;
    cursor: default;
    background: #c3c3c3;
}
/* selection */
.select-input{
    position: relative;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    min-width: 200px;
    display: flex;
    background-color: var(--white-color);
    justify-content: space-between;
    align-items: center;

}
.select-input:hover .select-input__list{
    display: block;
}
.select-input__lable{
    font-size: 1.4rem;
}
.select-input__icon{
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
    position: relative;
    top: 1px;
}
.select-input__list{
    position: absolute;
    padding: 8px 16px;
    list-style: none;
    left: 0;
    right: 0;
    top: 25px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: none;
    z-index: 1;
}
.select-input__link{
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    padding: 8px 0;
    color: var(--text-color);
   

}
.select-input__link:hover{
    color: var(--primary-color);
}
/* pagination */
.pagination{
    display: flex;
    align-items: center; 
    justify-content: center; 
    list-style: none;
}
.pagination-item{
    margin: 0 12px;
}
.pagination-item--active .pagination-item__link{
    color: var(--white-color);
    background-color: var(--primary-color);
}
.pagination-item--active .pagination-item__link:hover{
    background-color: #ed5c3f;
}
.pagination-item__link{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;

}


